#Progress_Status {
    width: 50%;
    background-color: #ddd;
    border-radius: 2px;
    margin-top: 10px;


  }
    
  #myprogressBar {
    width: 10%;
    height: 10px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
  }